body {
    font-family: 'Roboto Mono', monospace;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
    justify-content: center;
    text-align: center;
}

#data-detail {
    flex-direction: row;
}

form.filter {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    height: 10em;
    justify-content: space-between;
    text-align: left;
}

.controller {
    display: flex;
    flex-direction: row;
    width: 40vw;
    margin: 1em 0;
    justify-content: space-between;
}

h1 {
    font-size: 1.5em;
}

input[type=checkbox] {
    font-size: 3em;
}

label {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 1em;
    padding-left: 0.5em;
}

form>label {
    font-weight: 400;
    font-size: 1.5em;
}

section#dataDetail {
    display: flex;
    flex-direction: row;
}

@media all and (max-width: 768px) {
    svg.pcviz {
        width: calc(100vw - 10px);
    }
}

.legend {
    width: 2em;
    height: 2em;
    border-radius: 50%;
}

.legend-layout {
    width: 7rem;
}

.nvidia {
    background-color: #76b900;
}

.intel-gpu {
    background-color: #5AC4F8;
}

.intel-cpu {
    background-color: #015FF5;
}

.amd-ryzen {
    background-color: #C4663A;
}

.amd-non-ryzen {
    background-color: black;
}

.amd-cpu {
    background-color: white;
}